﻿@{
    ViewBag.Title = "Home Page";
}

<div>
    <h1>Hi <span data-bind="text: playerName"></span></h1>
    <p class="lead">Your game id is: <span data-bind="text: gameInfo.id"></span>.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

@section scripts
{
    <script type="text/javascript">
        var viewModel = new Global.Main();
        ko.applyBindings(viewModel);
    </script>
}